<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="cashiermeSiteForTest" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\wfastcgi4\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
