<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cashier Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="icon">
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="apple-touch-icon">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/aos/aos.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'" >
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ url_for('static' , filename="assets/vendor/boxicons/css/boxicons.min.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">    <link href="{{ url_for('static' , filename="assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet" >
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/remixicon/remixicon.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="{{ url_for('static' , filename="assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet" >
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static' , filename="assets/css/style.css")}}" rel="stylesheet" >

  <!-- =======================================================
  * Template Name: Bootslander - v4.6.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  {% include 'header.html' %}


  <main id="main">
      <input id="get_currentuser_lang" value="{{ session['language'] }}" style="display: none">
      <!-- ======= Breadcrumbs Section ======= -->
      <section id="details" class="details">
          <div class="container" style="margin-top:50px">
              <div class="section-title" data-aos="fade-up">
                  <h2>{{ gettext("Return Policy") }}</h2>
                  <p>{{ gettext("Return Policy") }}</p>

<!--                  {% include 'payment_popup.html' %}-->
              </div>
              <div class="text-center">
                  {% if session['country_code'] == "EGY"  %}
                      <h1  data-aos="fade-up" style="color:#010483;font-weight:bold">لا يوجد إرجاع على منتجاتنا: وهو نظام كاشيرمي نقاط البيع

                      </h1>

                  {% else %}
                      <h1  data-aos="fade-up" style="color:#010483;font-weight:bold">{{ gettext("There is no return on our products: Ultimate point of sale System") }}</h1>

                  {% endif %}

              </div>
          </div>
      </section>

     <!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% extends 'footer.html' %}

</body>
</html>