<!DOCTYPE html>
<html lang="en">
<body>

{% include 'header.html' %}


  <main id="main">
      <input id="get_currentuser_lang" value="{{ session['language'] }}" style="display: none">
      <!-- ======= Breadcrumbs Section ======= -->
      <section id="details" class="details">
          <div class="container" style="margin-top:50px">
              <div class="section-title" data-aos="fade-up">
                  <h2>Test Payment</h2>
                  <p>Test Payment</p>
              </div>
              <form action="/test_payment_usd" method="post" class="center">

                  <input type="submit" name="submit" value="payment" class="btn btn-success">
              </form>
              {{ response }}

          </div>
      </section>
        <div class="col-lg-12" id="divBlockLoader" style=" position:fixed;
           display:none;

            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            opacity: 0.7;
            z-index: 99;
            background-color:#eff0f5
            ">
    <img  id="loading-image" src="{{ url_for("static", filename="assets/img/loading2.gif") }}" style="position: relative;

                                                                                       margin-top:300px;
                                                                                      width:200px;
                                                                                      text-align: center;"/>
</div>
     <!-- End Contact Section -->
  </main><!-- End #main -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{{ url_for('static', filename="assets/js/payment.js") }}"></script>
    <!-- ======= Footer ======= -->
  {% extends 'footer.html' %}

</body>
</html>