<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cashier Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="icon">
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="apple-touch-icon">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/aos/aos.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'" >
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ url_for('static' , filename="assets/vendor/boxicons/css/boxicons.min.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">    <link href="{{ url_for('static' , filename="assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet" >
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/remixicon/remixicon.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="{{ url_for('static' , filename="assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet" >
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static' , filename="assets/css/style.css")}}" rel="stylesheet" >

  <!-- =======================================================
   Template Name: Bootslander - v4.6.0
   Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
   Author: BootstrapMade.com
   License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

{% include 'header.html' %}


  <main id="main">
      <input id="get_currentuser_lang" value="{{ session['language'] }}" style="display: none">
      <!-- ======= Breadcrumbs Section ======= -->
      <section id="contact" class="contact">
          <div class="container" style="margin-top:50px ">
              <div class="section-title" data-aos="fade-up">
                  <h2>{{ gettext("Profile") }}</h2>
                  <p>{{ gettext("Profile") }}</p>
              </div>
              <div class="row">
                  <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100" >
                      <ul style="list-style-type:none;">
                          <li><a class="nav-link scrollto " href="/dashboard" style="font-family: Cairo">{{ gettext("Dashboard") }}</a></li>
                          <li><a class="nav-link scrollto" href="/profile" style="font-family: Cairo">{{ gettext("Profile") }}</a></li>
                          <li><a class="nav-link scrollto" href="/invoices" style="font-family: Cairo">{{ gettext("Invoices") }}</a></li>
                          {% if current_user.country_code_id == 'SAU' and current_user.subscription_type == 'Enterprise' %}
                              <li><a class="nav-link scrollto" href="/change_credit_card" style="font-family: Cairo">
                                  {% if session['language'] == 'en' %}
                                      {{ gettext("Change credit card") }}
                                  {% else %}
                                      تغيير البطاقة الائتمانية
                                  {% endif %}
                              </a></li>
                          {%endif%}
                          {% if current_user.db_status != "pending" %}
                          <li><a class="nav-link scrollto" href="https://cpanel.cashierme.com/signin?id={{ current_user.business_name }}" style="font-family: Cairo">{{ gettext("Control Panel Access Link :") }}</a></li>
                          {% endif %}
                          <li><a class="nav-link scrollto " href="/dashboard" style="font-family: Cairo">{{ gettext("Logout") }}</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                      {% with messages = get_flashed_messages() %}
                          {% if messages %}
                              {% for message in messages %}
                                  <div class="alert alert-danger" role="alert">{{ message }} </div>
                                  <style>
                                      div a{
                                          display:list-item;
                                      }
                                  </style>
                              {% endfor %}
                          {% endif %}
                      {% endwith %}

                      {% include 'error_message.html' %}



                      <form action="/confirm_cancel_subscription" method="post">
                      <div class="content_text">

                          <input type="radio" name="cancel_subscription" id="cancel_sub_radio" value="Canceled" onchange="changeDescription('cancel')" checked="checked" />
                          <label for="cancel_subscription">{{ gettext('Cancel subscription') }}</label>


                          <input type="radio" name="cancel_subscription" id="delete_sub_radio" onchange="changeDescription('delete')"  value="Delete"/>
                          <label for="cancel_subscription">{{ gettext('Delete account') }}</label>

                          <div class="cancel" id="cancel_account_div">
                              <h5 class="text-center">{{ gettext("We regret that you will cancel your subscription with Cashierme Please confirm by clicking on the button below") }}</h5>
                              <h5 class="text-center">{{ gettext("The subscription will remain active until the next renewal date") }}</h5>
                              <h4 class="text-center fw-bold"> {{ expire_date  }} </h4>
                              <h5 class="text-center">{{ gettext("During this period, you can also cancel the decision to cancel the subscription.") }}</h5>
                          </div>

                          <div class="delete" id="delete_account_div" style="display:none">

                              <h5 class="text-center">{{ gettext("We regret that you will delete your account with Cashierme. This procedure will delete all your data with us under your responsibility.") }}</h5>
                              <h5 class="text-center">{{ gettext("If you are sure of this decision, please confirm by clicking the Confirm button below.") }}</h5>
                              <h5 class="text-center">{{ gettext("You can withdraw this decision within 7 days on") }} {{ delete_account_date }} {{ gettext('at') }} {{ delete_account_time }} </h5>


                          </div>

                      </div>


                      <div class="buttons">
                          <button class="btn btn-danger" id="confirm_cancel" onclick="confirmToCancel_Subscription()">{{ gettext("Confirm") }}</button>
                          <button class="btn btn-primary" id="cancel_subscription" onclick="closeCancelSubscription()">{{ gettext("Cancel") }}</button>
                      </div>

                  </form>

                  </div>
              </div>
          </div>
          </section>
     <!-- End Contact Section -->
  </main><!-- End #main -->
<script>
    function changeDescription(param)
    {

        if(param == 'cancel'){
            document.getElementById('cancel_account_div').style.display = ''
            document.getElementById('delete_account_div').style.display = 'none'

        }else if( param == 'delete'){
            document.getElementById('cancel_account_div').style.display = 'none'
            document.getElementById('delete_account_div').style.display = ''

        }

    }
</script>
  {% extends 'footer.html' %}
</body>
</html>