<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cashier Me</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="icon">
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="apple-touch-icon">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <!-- Google Fonts -->
    <!-- Vendor CSS Files -->
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/aos/aos.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/boxicons/css/boxicons.min.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/glightbox/css/glightbox.min.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/remixicon/remixicon.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="{{ url_for('static' , filename="assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet" >
    <!-- Template Main CSS File -->

    <link href="{{ url_for('static' , filename="assets/css/style.css")}}" rel="stylesheet" >
    <link href="{{ url_for('static', filename="css/popup_style.css") }}" rel="stylesheet"  />

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_script }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_script }}');
    </script>
</head>


<body>
{% block header %}
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="/"><span>  <img src="{{ url_for('static', filename='assets/img/uposNav.png') }}" class="img-fluid animated" alt="" ></span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav id="navbar" class="navbar">
            <ul >
                <li><a class="nav-link scrollto " id="home_id" href="/" style="font-family: Cairo">{{ gettext("Home") }}</a></li>
                <li><a class="nav-link scrollto" id="feature_id" href="/home#features" style="font-family: Cairo">{{ gettext("Features") }}</a></li>
                {% if not current_user.id %}
                <li><a class="nav-link scrollto"  id="price_id" href="/pricing" style="font-family: Cairo">{{ gettext("Pricing") }}</a></li>
                {% endif %}
                {#            <li><a class="nav-link scrollto" href="/subscriptions" style="font-family: Cairo">{{ gettext("Free Demo") }}</a></li>#}
                <li><a class="nav-link scrollto" id="contact_id" href="/contact" style="font-family: Cairo">{{ gettext("Contact") }}</a></li>
                <li><a class="nav-link scrollto" id="help_id" href="/help" style="font-family: Cairo">{{ gettext("Help") }}</a></li>

                {% if session['country_code']=="TUR" or session['country_code']=="SAU" or session['country_code']=="GEO" %}
                <li class="dropdown"><a href="#" style="font-family: Cairo"><span>{{ gettext("Language") }}</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/english/{{ active_page }}" style="font-family: Cairo">English</a></li>
                        <li><a href="/arabic/{{ active_page }}" style="font-family: Cairo">العربية</a></li>
                        {% if session['country_code']=="TUR" %}
                        <li><a href="/Turkish/{{ active_page }}" style="font-family: Cairo">Türkçe</a></li>
                        {% endif %}
                        {% if session['country_code']=="GEO" %}
                        <li><a href="/gorgia/{{ active_page }}" style="font-family: Cairo">ქართული</a></li>
                        {% endif %}

                    </ul>
                </li>
                {% endif %}
{#                <li class="dropdown"><a href="#" style="font-family: Cairo"><span>{{ gettext("Countries") }}</span> <i class="bi bi-chevron-down"></i></a>#}
{#                    <ul>#}
{#                        <li><a href="/change_country_development/109.171.128.0" style="font-family: Cairo">Saudi arabia</a></li>#}
{#                        <li><a href="/change_country_development/109.228.192.0" style="font-family: Cairo">Turkey</a></li>#}
{#                        <li><a href="/change_country_development/146.88.26.220" style="font-family: Cairo">India</a></li>#}
{#                        <li><a href="/change_country_development/103.100.46.0" style="font-family: Cairo">Malaysia</a></li>#}
{#                        <li><a href="/change_country_development/156.210.67.114" style="font-family: Cairo">Egypt</a></li>#}
{#                        <li><a href="/change_country_development/104.28.106.47" style="font-family: Cairo">Georgia</a></li>#}
{#                        <li><a href="/change_country_development/92.184.116.28" style="font-family: Cairo">Global</a></li>#}
{##}
{#                    </ul>#}
{#                </li>#}
                <li>
                    <a href="/login" style="font-family: Cairo">  <span style="color:#20c997;">{% if not  current_user.name %}<i class="fa fa-user" style="color:#20c997;"><span style="font-family: Cairo">{{ gettext("Login") }}</span></i>{% endif %}</span></a>

                    {% if current_user.name %}
                </li>
                <li class="dropdown"><a href="#" style="font-family: Cairo"><span>{{ gettext("my account") }}</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto " href="/dashboard" style="font-family: Cairo">{{ gettext("Dashboard") }}</a></li>
                        <li><a class="nav-link scrollto" href="/profile" style="font-family: Cairo">{{ gettext("Profile") }}</a></li>
                        <li><a class="nav-link scrollto" href="/invoices" style="font-family: Cairo">{{ gettext("Invoices") }}</a></li>
                        <li><a class="nav-link scrollto" href="https://cpanel.cashierme.com/signin?id={{ current_user.business_name }}" style="font-family: Cairo">{{ gettext("Control Panel Access Link :") }}</a></li>
                        <li><a class="nav-link scrollto " href="/logout" style="font-family: Cairo">{{ gettext("Logout") }}</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->


<script>
        function add_active_bar(){
            var home_id = document.getElementById("home_id")
            var feature_id = document.getElementById("feature_id")
            var contact_id = document.getElementById("contact_id")
            var help_id = document.getElementById("help_id")
            var price_id = document.getElementById("price_id")
            var active_page = "{{ active_page }}"
            if (active_page == "contact"){
                contact_id.classList.add("active")
            }
            if (active_page == "feature"){
                feature_id.classList.add("active")
            }
            if (active_page == "help"){
                help_id.classList.add("active")
            } if (active_page == "home"){
                home_id.classList.add("active")
            }
            if (active_page == "pricing"){
                price_id.classList.add("active")
            }
        }
        add_active_bar()
    </script>


{% endblock %}
</body>
</html>