<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cashier Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="icon">
    <link href="{{ url_for('static', filename="assets/img/upos.png") }}" rel="apple-touch-icon">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/aos/aos.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'" >
    <link rel="preload" href="{{ url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css") }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ url_for('static' , filename="assets/vendor/boxicons/css/boxicons.min.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">    <link href="{{ url_for('static' , filename="assets/vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet" >
    <link rel="preload" href="{{ url_for('static' , filename="assets/vendor/remixicon/remixicon.css")}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="{{ url_for('static' , filename="assets/vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet" >
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static' , filename="assets/css/style.css")}}" rel="stylesheet" >

  <!-- =======================================================
  * Template Name: Bootslander - v4.6.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

{% include 'header.html' %}


  <main id="main">
      <input id="get_currentuser_lang" value="{{ session['language'] }}" style="display: none">
      <!-- ======= Breadcrumbs Section ======= -->
      <section id="contact" class="contact">
          <div class="container" style="margin-top:50px">
              <div class="section-title" data-aos="fade-up">
                  <h2>{{ gettext("Forget Password") }}</h2>
                  <p>{{ gettext("Forget Password") }}</p>
              </div>
              <div class="row">
                  <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                      <img src="static/assets/img/upos.png" class="img-fluid animated" alt="">
                  </div>
                          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                              <div class="col-lg-5  " data-aos="fade-left" data-aos-delay="200">
                                  {% if message_success %}
                                  <div class="alert-success" style="border-radius: 5px;font-size:16px;height:auto;word-wrap: break-word">{{ message_success }}
                                      <span id="m" style="font-weight:bold"></span>
                                      <span style="font-weight:bold">:</span>
                                      <span id="s" style="font-weight:bold"></span><span> {{ gettext("Minutes To change password") }}</span>
                                  </div>
                                  {% endif %}
                                  {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                          {% for message in messages %}
                                              <div class="alert alert-danger" role="alert">{{ message }} </div>
                                          {% endfor %}
                                      {% endif %}
                                  {% endwith %}
                                  <script>
                                      var s=60;
                                      var m=3;
                                      var time= setInterval(function() {timer()}, 1000);
                                      function timer(){
                                          s--;
                                          if(s==-1){
                                              m--;
                                              s=59;
                                              if(m==-1){
                                                  m=0;
                                                  s=0;
                                                  clearInterval(time);
                                                  window.location.href = "/forget_password_email";
                                              }
                                          }
                                          document.getElementById("m").innerHTML = m;
                                          document.getElementById("s").innerHTML = s;
                                      }

                                  </script>

                          <form action="/checkEmail_forgetPassword" method="post"  >
                              <div class="row">
                                  <div class="form-group mt-3">
                                      <label for="email">{{ gettext("Email") }}</label><span style="color:red">*</span>
                                      <input type="email" name="email" class="form-control" id="email"   required >
                                  </div>

                              </div>
                              <div data-v-3f63efcb="" style="margin-top:30px">
                                  {{ recaptcha }}
                              </div>
                              <br/>
                              <div class="text-center"><button type="submit" class="btn btn-success">{{ gettext("Submit") }}</button></div>
                          </form>
{#                          <a href="/login" class="forgot-pass">Login</a>#}
                      </div>
                  </div>

              </div>
          </section>
     <!-- End Contact Section -->
  </main><!-- End #main -->
  {% extends 'footer.html' %}
</body>
</html>